body {
  font-family: "Cuprum", sans-serif;
  
}

h1 {
	font-size: 36px;
	line-height: 30px;
	
}
h2 {
	font-size: 30px;
	font-style: normal;
	line-height: 30px;
	color: #32425c;
}
h3 {
	font-size: 30px;
	font-style: normal;
	line-height: 24px;
	color: black;
}


.header-top{
	min-height: 42px;
	background-color: red;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	background-color: blue;
}
.about{
	width: 300px;
	min-height: 153px;
}
